<!-- 
Atalho para construir a tabela abaixo   table>tr>th*3 
-->

<!-- <table border="1">
   <tr>
      <th>Id:</th>
      <th>Nome:</th>
      <th>Telefone:</th>
   </tr> -->
<!-- Mostrando estrutura dos dados -->
<!-- <tr *ngFor="let a of agenda">
      <td>{{a.id}}</td>
      <td>{{a.nome}}</td>
      <td>{{a.telefone}}</td>
   </tr>
</table> -->

<p-panel header="Agenda" [toggleable]="true">
   <div class="p-grid">

      <div class="p-col-2">Nome:</div>
      <div class="p-col-10">
         <input pInputText type="text" [(ngModel)]="contato.nome">
      </div>

      <div class="p-col-2">Telefone:</div>
      <div class="p-col-10">
         <input pInputText type="text" [(ngModel)]="contato.telefone">
      </div>

      <div class="p-col-10 p-offset-2">
         <button type="submit" [label]="operacao == true ? 'Adicionar' : 'Atualizar'"                 
                pButton (click)="inserirOuAtualizar()">
        </button>
      </div>
   </div>

</p-panel>



<p-table [value]="agenda">

   <ng-template pTemplate="header">
      <tr>
         <th>Identificador</th>
         <th>Nome</th>
         <th>Telefone</th>
         <th class="deletar-atualizar">Ações</th>
      </tr>
   </ng-template>

   <ng-template pTemplate="body" let-a>
      <tr>
         <td>{{a.id}}</td>
         <td>{{a.nome}}</td>
         <td>{{a.telefone}}</td>
         <td class="deletar-atualizar">
            <p-button class="btn-editar" icon="pi pi-pencil" (click)="editar(a)"></p-button>
            <p-button class="btn-editar" icon="pi pi-trash" (click)="excluir(a.id)"></p-button>
         </td>
      </tr>
   </ng-template>

</p-table>